/* Main container */

.aside {
    margin: 0;
    padding: 0;
    width: 33%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: none;
    display: flex;
    flex-direction: column;
    cursor: grab;
    z-index: 1;
}


/* Header container */

.asideHeaderContainer {
    display: flex;
    flex-direction: column;
    background-color: #FF59BD;
    outline: black solid 4px;
}

.asideHeaderContainer a {
    color: #3a0381;
}

.asideHeaderContainer a:hover {
    color: white;
}

.asideHeaderContainer h2 {
    font-size: calc(4vw + 2vh);
    font-weight: bolder;
    margin: 0px;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

/* Project Section Instructions */

.asideInstructions {
    display: flex;
    flex-direction: column;
    background-color: #FF59BD;
    outline: black solid 4px;
    padding: 20px 10px 20px 10px;
}

.asideInstructions h2 {
    font-size: calc(1.6vw + 1.6vh);
    text-align: center;
    color: white;
    margin-top: 0px;
}

.asideInstructions p {
    text-align: center;
    font-size: calc(.9vw + 0.9vh);
    color: white;
    margin: 2px;
}

/* Button */

.projectButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF59BD;
    outline: black 4px solid;
    margin-top: 4px;
    width: 200%;
    position: relative;
    left: -100%;
    cursor: grab;
}

.projectButton p {
    color: white;
    margin: 0;
}

.projectButton p:first-child {
    font-size: calc(1vw + 1vh);
    position: relative;
    left: 50%;
    width: 22%;
    padding-left: 5px;
    word-wrap: break-word;
}

.projectButton p:last-child {
    font-size: calc(3vw + 3vh);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}